[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.2"
djangorestframework = "~=3.14.0"
dj-rest-auth = "~=2.2.5"
django-allauth = "~=0.51.0"
pillow = "~=9.0.1"

[dev-packages]

[requires]
python_version = "3.10"
